* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: red;
  color: black;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

img {
  max-width: 33%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: black;
  }
    .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: green;
    color: black;
    font-size: 85%;
  }
    .column {
    flex: 100%;
    max-width: 100%;
  }
}
