* {
  box-sizing: border-box;
}
/*------------------------
Estilos para el header 
-------------------------*/

.header {
  display: flex;
  text-align: center;
  padding: 32px;
}
/*------------------------
Estilos para el menu
-------------------------*/
.menu{

}
/*------------------------
Estilos para monitor grande
-------------------------*/
 @media (max-width: 600px) {
.container{
  display: grid;
  /*cuatro filas y tres columnas por ahora*/
  grid-template: auto auto auto auto auto auto / auto;
  grid-template-areas:"encabezado"
                      "menu-bar menu-bar"
                      "producto"
                      "izquierdo"
                      "derecho"
                      "pie";
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: black;
  }
    .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: green;
    color: black;
    font-size: 85%;
  }
    .column {
    flex: 100%;
    max-width: 100%;
  }
}

body {
  margin: 0;
  font-family: Arial;
  background-color: red;
 Ho color: black;
}

/*------------------------
revisar
-------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

img {
  max-width: 33%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


