/*
colores para usar:
#1E2B3D (negro);
#304562 (azul);
#5695CE (celeste);
#8291A3 (gris calro);
#CBBBA1 (beige);
#F7ECCF (crema);
*/

/* font */
* {
	font-family: 'Montserrat', sans-serif;
	color: #304562;
	text-align: center;
	margin: 0px;
}

/*clase para mostrar imagenes*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1200px;  
    margin: 0 auto;   
}

/*estilo del menu*/
nav {
	text-align: right;
}

/*menu hamburguesa*/
.menu-icon {
display: inline-block;
}

.menu-icon .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.hidden {
    display: none;
}

ul.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
	left: 0;
	z-index: 10;
}

ul.active li {
    padding: 10px;
    text-align: center;
}

ul.active li a {
    text-decoration: none;
    color: #fff;
}
/*fin menu hamburguesa*/

.list {
	font-style: normal;
	color: #5695CE;
	padding: 15px;
	text-decoration: none;
	transition: background-color 0.3s;
	display: inline-block;
}

/*para el tiempo de duración*/
@keyframes boton-menu {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

/*estilo carrusel de fotos*/
.carusel {
	grid-area: 3 / 1 / 3 / 6;
	background-color: #8291A3;
	overflow: auto;/*para controlar el desbordamiento*/
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	align-self: center;
}

.carrusel {
	grid-area: 3 / 1 / 3 / 4;

}

.cualquiera {
	display: flex;
	margin: 0 auto;
	position: relative;
	justify-content: center;
	align-items: stretch;
}

.cualquiera button {
	padding: 1px;
	color: #304562;
	background-color: #8291A3;
	border: none;
	/*quita el borde*/
	font-size: larger;
}

.carousel-container img {
	width: 100%;
	height: auto;
}

/*esto es del carrusel*/
.carousel-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	/* Ajusta el ancho según tus necesidades */
	position: relative;
}

.carousel-slide {
	flex: 0 0 100%;
	/* Cada diapositiva ocupa el 100% del ancho del contenedor */
	transition: transform 0.3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

/* Posición de los botones */
#prevButton {
	top: 0;
	left: 8px;
	bottom: 0;
}

#nextButton {
	top: 0;
	right: 8px;
	bottom: 0;
}



.reserva:hover {
	background-color: #304562;
	color: #F7ECCF;
	padding: 10px;
	animation: 0.5s infinite boton-reserva;
	/*agrego boton para cambiar el estilo del menú*/
}

@keyframes boton-reserva {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

.button {
	background-color: #5695CE;
	color: #F7ECCF;
	border: none;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	font-size: 20px;
}

.button:hover {
	background-color: #304562;
	color: #F7ECCF;
	padding: 10px;
	animation: 0.5s infinite boton-contacto;
	/*agrego boton para cambiar el estilo del menú*/
}

@keyframes boton-contacto {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

.icon i {
	color: #F7ECCF;
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

.icon i:hover {
	background-color: #F7ECCF;
	color: #304562;
	animation: 0.5s infinite boton-menu;
}

@keyframes boton-menu {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}






/*celulares pequeños*/
@media (max-width: 600px) {
    .img-responsive {
        max-width: 100%; 
    }
}


@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    ul.hidden, ul.active {
        display: flex;
        position: static;
        background-color: transparent;
        width: auto;
    }

    ul.hidden li, ul.active li {
        margin: 0 10px;
    }
#nav-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
}

@media screen and (max-width: 512px) {

	.parent {
		display: grid;
		background-color: #5695CE;
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 0.1fr 0.3fr 0.8fr 0.3fr 0.7fr 0.7fr 0.6fr 0.7fr 0.6fr 1fr 0.8fr 0.5fr 0.1fr 0.2fr 0.2fr 0.1fr 0.1fr;
		grid-template-areas:
			/*01*/'logo'
			/*02*/'encabezado'
			/*03*/'login'
			/*04*/'menu'
			/*05*/'carusel'/*agregue el carusel*/
			/*06*/'ubicacionAPI'
			/*07*/'maps-responsive'/*maps*/
			/*08*/'item1'
			/*09*/'detalle1'/*habitación*/
			/*10*/'item2'
			/*11*/'detalle2'/*Restaurante*/
			/*12*/'item3' '
 			/*13*/'detalle3'/*spa*/
			/*14*/'item4'
			/*15*/'detalle4'/*salón*/
			/*16*/'item5'
			/*17*/'detalle5'/*compromiso de la empresa*/
			/*18*/'item6'
			/*19*/'detalle6'/*contacto*/
			/*20*/'footer1';
	}

	.logo {
		display: none;
	}

	.login {
		display: none;
	}

	.encabezado {
		grid-area: 1 / 1 / 1 / 2;
	}

	.menu {
		grid-area: 2 / 1 / 2 / 2;
	}

	.carrusel {
		grid-area: 3 / 1 / 3 / 2;

	}

	.ubicacionAPI {
		grid-area: 4 / 1 / 4 / 2;
	}

	.maps-responsive {
		grid-area: 5 / 1 / 5 / 2;
	}

	.item1 {
		grid-area: 6 / 1 / 6 / 2;
	}

	.detalle1 {
		grid-area: 7 / 1 / 7 / 2;
	}

	/*estilo de las imagenes*/
	.detalle1 img {
		padding: 0.1% 0.1%;
		width: auto;
		/*ajusta el ancho de la imagen*/
		height: 18vw;
		/*ajusta el alto de la imagen*/
	}

	/*habitación*/
	.item2 {
		grid-area: 9 / 1 / 9 / 2;
	}

	.detalle2 {
		grid-area: 8 / 1 / 8 / 2;
	}

	/*Restaurante*/
	.item3 {
		grid-area: 10 / 1 / 10 / 2;
	}

	.detalle3 {
		grid-area: 11 / 1 / 11 / 2;
	}

	/*spa*/
	.item4 {
		grid-area: 12 / 1 / 12 / 2;
	}

	.detalle4 {
		grid-area: 13 / 1 / 13 / 2;
	}

	/*salón*/
	.item5 {
		grid-area: 15 / 1 / 15 / 1;
	}

	.items5bis {
		display: none;
	}

	.detalle5 {
		grid-area: 14 / 1 / 14 / 2;
	}

	/*compromiso de la empresa*/
	.item6 {
		grid-area: 16 / 1 / 16 / 2;
	}

	.detalle6 {
		grid-area: 17 / 1 / 17 / 2;
	}

	/*contacto*/
	.footer1 {
		grid-area: 18 / 1 / 18 / 2;
	}
}


@media screen and (max-width: 1024px) {
	.parent {
		background-color: #8291A3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0.3fr 0.3fr 0.5fr 0.8fr 0.5fr 0.5fr 0.5fr 0.51fr 0.51fr 0.51fr 0.5fr;

		grid-template-areas:
			/*01*/'logo encabezado login'
			/*02*/'menu'
			/*03*/'carusel'/*agregue el carusel*/
			/*04*/'ubicacionAPI'/*maps*/
			/*05*/'item1 detalle1'/*habitación*/
			/*06*/'detalle2 item2 '/*Restaurante*/
			/*07*/'item3 detalle3'/*spa*/
			/*08*/'detalle4 item4 '/*salón*/
			/*09*/'item5 detalle5'/*compromiso de la empresa*/
			/*10*/'item6'/*contacto*/
			/*11*/'footer1';
	}
}

.parent {
	/*tener cuidado con el grid-template-rows, no es recomendable usar la altura*/
	background-color: #F7ECCF;
	display: grid;
	grid-template-columns: auto auto auto;
	/* grid-template-rows: 0.15fr 0.2fr 0.5fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.3fr 0.3fr; */
	grid-template-rows: auto;
	grid-template-areas:
		/*01*/'logo encabezado login'
		/*02*/'menu'
		/*03*/'carusel'/*agregue el carusel*/
		/*04*/'ubicacionAPI'/*clima-mapa*/
		/*05*/'item1 detalle1'/*habitación*/
		/*06*/'item2 detalle2'/*Restaurante*/
		/*07*/'item3 detalle3'/*spa*/
		/*08*/'item4 detalle4'/*salón*/
		/*09*/'item5 detalle5'/*compromiso de la empresa*/
		/*10*/'item6 detalle6'/*contacto*/
		/*11*/'footer1';
}

.logo {
	grid-area: 1 / 1 / 1 / 2;
	/* background-color: red; */
	align-self: center;
	margin: 5%;
	width: 25%;
}
.encabezado {
	grid-area: 1 / 2 / 1 / 3;
	/* background-color: blue; */
	align-self: center;
}
.login {
	grid-area: 1 / 3 / 1 / 4;
	/* background-color: green; */
	align-self: center;
	color: #304562;
	font-size: 25px;
	text-decoration: none;
}

.menu {
	grid-area: 2 / 1 / 2 / 4;
	background-color: #304562;
	font-size: 25px;
	align-self: center;
	padding: 20px;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	position: relative;
}
/*---para cambiar el texto cuando paso con el mausse*/
.menu a:hover {
	background-color: #5695CE;
	color: #F7ECCF;
	animation: 0.5s infinite boton-menu;
	/*agrego boton para cambiar el estilo del menú*/
}


.ubicacionAPI {
	/* background-color: red; */
	grid-area: 4 / 1 / 4 / 4;
	text-align: center;
	font-size: 1.5em;
	padding: 25px;
	margin: 5%;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}

.show_api {    
    background-color: #5695CE;
    margin-top: 1em;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 1em;
	padding: 1em;
	display: inline-block;
	align-content: center;
	

    /* width: fit-content; */ 
    /* border-radius: 3px; */
    /* border: 1px solid #303030; */
}

.maps-responsive iframe {

	width: 75%;
	height: auto;
	/* padding: 5% 20%; */
	/* position: relative; */
}


/* ietm = texto
detalles = fotos*/

.item1 {
	grid-area: 5 / 1 / 5 / 2 ;
	display: block;
	font-size: 1.5em;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}

.detalle1 {
	grid-area: 5 / 2 / 5 / 4 ;
}
.detalle1 img {
	padding: 0.1% 0.1%;
	width: auto;
	height: 18vw;
}



.item2 {
	grid-area: 6 / 3 / 6 / 4;
	display: block;
	font-size: 1.5em;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}
.detalle2 {
	grid-area: 6 / 1 / 6 / 3;

}
.detalle2 img {
	padding: 0.1% 0.1%;
	width: auto;
	height: 18vw;
}


.item3 {
	grid-area: 7 / 1 / 7 / 2;
	display: block;
	font-size: 1.5em;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}

.detalle3 {
	grid-area: 7 / 2 / 7 / 4;
}
.detalle3 img {
	padding: 0.1% 0.1%;
	width: auto;
	height: 18vw;
}
/*estilo de spa*/


/*salón de eventos*/
.item4 {
	grid-area: 8 / 3 / 8 / 4;
	display: block;
	font-size: 1.5em;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}

/*estilo de la imagen salon de eventos*/
.detalle4 {
	grid-area: 8 / 1 / 8 / 3;
}
.detalle4 img {
	padding: 0.1% 0.1%;
	width: auto;
	height: 18vw;
}

/*sobre hotel*/
.item5 {
	grid-area: 9 / 1 / 9 / 3;
	display: block;
	font-size: 1.5em;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}
.detalle5 {
	grid-area: 9 / 3 / 9 / 4;
	padding: 5px;
}
.detalle5 img {
	padding: 0.1% 0.1%;
	width: auto;
	height: 18vw;
}

.item6 {
	grid-area: 10 / 1 / 10 / 4;
	padding: 0px 5px;
}
.item6 h3 {
	font-size: 20px;
}

/*estilo de footer*/
.footer1 {
	grid-area: 11 / 1 / 11 / 4;
	text-align: center;
	background-color: #304562;
	padding: 25px 5px;
	color: #F7ECCF;
}