/*
colores para usar:
#1E2B3D (negro);
#304562 (azul);
#5695CE (celeste);
#8291A3 (gris calro);
#CBBBA1 (beige);
#F7ECCF (crema);
*/

/* font */
* {
	font-family: 'Montserrat', sans-serif;
	color: #304562;
	text-align: center;
	margin: 0px;
}

/*clase para mostrar imagenes*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1200px;  
    margin: 0 auto;   
}

/*estilo del menu*/
nav {
	text-align: right;
}

/*menu hamburguesa*/
.menu-icon {
display: inline-block;
}

.menu-icon .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.hidden {
    display: none;
}

ul.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
	left: 0;
	z-index: 10;
}

ul.active li {
    padding: 10px;
    text-align: center;
}

ul.active li a {
    text-decoration: none;
    color: #fff;
}
/*fin menu hamburguesa*/

.list {
	font-style: normal;
	color: #5695CE;
	padding: 15px;
	text-decoration: none;
	transition: background-color 0.3s;
	display: inline-block;
}

/*para el tiempo de duración*/
@keyframes boton-menu {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

/*estilo carrusel de fotos*/
.carusel {
	grid-area: 3 / 1 / 3 / 6;
	background-color: #8291A3;
	overflow: auto;/*para controlar el desbordamiento*/
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	align-self: center;
}

.carrusel {
	grid-area: 3 / 1 / 3 / 4;

}

.cualquiera {
	display: flex;
	margin: 0 auto;
	position: relative;
	justify-content: center;
	align-items: stretch;
}

.cualquiera button {
	padding: 1px;
	color: #304562;
	background-color: #8291A3;
	border: none;
	/*quita el borde*/
	font-size: larger;
}

.carousel-container img {
	width: 100%;
	height: auto;
}

/*esto es del carrusel*/
.carousel-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	/* Ajusta el ancho según tus necesidades */
	position: relative;
}

.carousel-slide {
	flex: 0 0 100%;
	/* Cada diapositiva ocupa el 100% del ancho del contenedor */
	transition: transform 0.3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

/* Posición de los botones */
#prevButton {
	top: 0;
	left: 8px;
	bottom: 0;
}

#nextButton {
	top: 0;
	right: 8px;
	bottom: 0;
}

/*agregado de la API*/
.clima2 {
	/*font-size: 2em;*/
	border-radius: 3px;
	padding: 5px 10px;
	margin: 3px 10px;
}
.show_api {
    
    margin-top: 2em;
    width: fit-content;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 1px solid #303030;
    /*padding: 5px 15px 2px 15px;*/
	padding: 1em 3em 1em 3em;
    }

.maps-responsive {
	grid-area: 4 / 3 / 4 / 6;
	display: flex;
}

.maps-responsive iframe {
	left: 0;
	top: 0;
	height: 80%;
	width: 80%;
	padding: 5% 20%;
	/*position: absolute;*/
}

.reserva:hover {
	background-color: #304562;
	color: #F7ECCF;
	padding: 10px;
	animation: 0.5s infinite boton-reserva;
	/*agrego boton para cambiar el estilo del menú*/
}

@keyframes boton-reserva {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

.button {
	background-color: #5695CE;
	color: #F7ECCF;
	border: none;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	font-size: 20px;
}

.button:hover {
	background-color: #304562;
	color: #F7ECCF;
	padding: 10px;
	animation: 0.5s infinite boton-contacto;
	/*agrego boton para cambiar el estilo del menú*/
}

@keyframes boton-contacto {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

.icon i {
	color: #F7ECCF;
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

.icon i:hover {
	background-color: #F7ECCF;
	color: #304562;
	animation: 0.5s infinite boton-menu;
}

@keyframes boton-menu {
	0% {
		transform: scaleX(1.0);
	}

	50% {
		transform: scaleX(1.15);
	}

	100% {
		transform: scaleX(1.0);
	}
}

.maps-responsive {
	grid-area: 4 / 3 / 4 / 4;
}








/*celulares pequeños*/
@media (max-width: 600px) {
    .img-responsive {
        max-width: 100%; 
    }
}


@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    ul.hidden, ul.active {
        display: flex;
        position: static;
        background-color: transparent;
        width: auto;
    }

    ul.hidden li, ul.active li {
        margin: 0 10px;
    }
#nav-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
}

@media screen and (max-width: 512px) {

	.parent {
		display: grid;
		background-color: #5695CE;
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 0.1fr 0.3fr 0.8fr 0.3fr 0.7fr 0.7fr 0.6fr 0.7fr 0.6fr 1fr 0.8fr 0.5fr 0.1fr 0.2fr 0.2fr 0.1fr 0.1fr;
		grid-template-areas:
			'logo'
			'encabezado'
			'login'
			'nav'
			'carusel'
			/*agregue el carusel*/
			'encabezado1'
			'mpas-resposnive'
			/*maps*/
			'item1'
			'detalle1'
			/*habitación*/
			'item2'
			'detalle2'
			/*Restaurante*/
			'item3' '
 			'detalle3'
			/*spa*/
			'item4'
			'detalle4'
			/*salón*/
			'item5'
			'detalle5'
			/*compromiso de la empresa*/
			'item6'
			'detalle6'
			/*contacto*/
			'footer1';
	}

	.logo {
		display: none;
	}

	.login {
		display: none;
	}

	
	.encabezado {
		grid-area: 1 / 1 / 1 / 2;
	}

	.nav {
		grid-area: 2 / 1 / 2 / 2;
	}

	.carrusel {
		grid-area: 3 / 1 / 3 / 2;

	}

	.encabezado1 {
		grid-area: 4 / 1 / 4 / 2;
	}

	.maps-responsive {
		grid-area: 5 / 1 / 5 / 2;
	}

	.item1 {
		grid-area: 6 / 1 / 6 / 2;
	}

	.detalle1 {
		grid-area: 7 / 1 / 7 / 2;
	}

	/*estilo de las imagenes*/
	.detalle1 img {
		padding: 0.1% 0.1%;
		width: auto;
		/*ajusta el ancho de la imagen*/
		height: 18vw;
		/*ajusta el alto de la imagen*/
	}

	/*habitación*/
	.item2 {
		grid-area: 9 / 1 / 9 / 2;
	}

	.detalle2 {
		grid-area: 8 / 1 / 8 / 2;
	}

	/*Restaurante*/
	.item3 {
		grid-area: 10 / 1 / 10 / 2;
	}

	.detalle3 {
		grid-area: 11 / 1 / 11 / 2;
	}

	/*spa*/
	.item4 {
		grid-area: 12 / 1 / 12 / 2;
	}

	.detalle4 {
		grid-area: 13 / 1 / 13 / 2;
	}

	/*salón*/
	.item5 {
		grid-area: 15 / 1 / 15 / 1;
	}

	.items5bis {
		display: none;
	}

	.detalle5 {
		grid-area: 14 / 1 / 14 / 2;
	}

	/*compromiso de la empresa*/
	.item6 {
		grid-area: 16 / 1 / 16 / 2;
	}

	.detalle6 {
		grid-area: 17 / 1 / 17 / 2;
	}

	/*contacto*/
	.footer1 {
		grid-area: 18 / 1 / 18 / 2;
	}
}


@media screen and (max-width: 1024px) {
	.parent {
		background-color: #8291A3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0.3fr 0.3fr 0.5fr 0.8fr 0.5fr 0.5fr 0.5fr 0.51fr 0.51fr 0.51fr 0.5fr;
		grid-template-areas:
			'logo encabezado login'
			'nav'
			'carusel'
			/*agregue el carusel*/
			'encabezado1 encabezado2'
			/*maps*/
			'item1 detalle1'
			/*habitación*/
			'item2 detalle2'
			/*Restaurante*/
			'item3 detalle3'
			/*spa*/
			'item4 detalle4'
			/*salón*/
			'item5 detalle5'
			/*compromiso de la empresa*/
			'item6'
			/*contacto*/
			'footer1';
	}
}


@media screen and (min-width: 1024px) {
	.parent {
		/*tener cuidado con el grid-template-rows, no es recomendable usar la altura*/
		background-color: #F7ECCF;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	/*	grid-template-rows: 0.15fr 0.2fr 0.5fr 0.6fr 1fr 0.8fr 0.8fr 0.7fr 0.5fr 0.5fr 0.3fr;*/
	grid-template-rows: 0.15fr 0.2fr 0.5fr 0.6fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.3fr 0.3fr;
		/*agregue el carusel*/
		/* maquetado*/
		grid-template-areas:
			'logo encabezado login'
			'nav'
			'carusel'
			/*agregue el carusel*/
			'encabezado1 encabezado2'
			/*maps*/
			'item1 detalle1'
			/*habitación*/
			'item2 detalle2'
			/*Restaurante*/
			'item3 detalle3'
			/*spa*/
			'item4 detalle4'
			/*salón*/
			'item5 detalle5'
			/*compromiso de la empresa*/
			'item6 detalle6'
			/*contacto*/
			'footer1';
	}
}








/*estilo de la tercera seccion habitaciones*/
.item1 {
	grid-area: 5 / 1 / 5 / 1 ;
	height:auto;
	width: 50%;
	/*grid-area: 5 / 1 / span 5 / span 1;*/
	display: block;
	font-size: 1.5em;
	/*padding: 0cqb 5px;*/
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}


/*seccion de habitaciones fotos*/
/*.detalle1 {
	grid-area: 5 / 2 / 5 / 3;
	display: block;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	padding: 0px 5px;*/

	.detalle1 {
		grid-area: 5 / 2 / 5 / 3 ;
		grid-gap: 2px; 
		grid-row-gap: 2px ;
		margin-bottom: 2px;
		margin-left: 2px;
		
		}
		/*estilo de las imagenes*/
		.detalle1 img {
			padding: 1% 0.5%;
			width: auto;
			/*ajusta el ancho de la imagen*/
			/*height: 200px;*/
			height:auto;
			/*ajusta el alto de la imagen*/
		}
		/*seccion restaurante*/
		.item2 {
			grid-area: 6 / 1 / 6 / 4;
			padding: 0% 5%;
		}
		.item2 img {
			/*width: 500px;*/
			width: auto;
			height: auto;
		}
		.detalle2 {
			grid-area: 6 / 4 / 6 / 5;
			padding: 0px 5px;
			display: flex;
			font-size: 1.5em;
			/*alejar texto principal de los bordes*/
			overflow: hidden;
			/*para esconder el texto que se desborda*/
			text-align: justify;
		
		}
		/*estilo de spa*/
		.item3 {
			grid-area: 7 / 1 / 7 / 3;
			padding: 0% 5px;
			display: flex;
			font-size: 1.5em;
			/*alejar texto principal de los bordes*/
			overflow: hidden;
			/*para esconder el texto que se desborda*/
			text-align: justify;
		}
		/*estilo de la imagen spa*/
		.detalle3 {
			grid-area: 7 / 3 / 7 / 6;
			padding: 0px 5px;
		}
		.detalle3 img {
			width: auto;
			height: auto;
		}
		/*salón de eventos*/
		.item4 {
			grid-area: 8 / 1 / 8 / 3;
			padding: 0% 5px;
			display: flex;
			font-size: 1.5em;
			/*alejar texto principal de los bordes*/
			overflow: hidden;
			/*para esconder el texto que se desborda*/
			text-align: justify;
		}
		/*estilo de la imagen salon de eventos*/
		.detalle4 {
			grid-area: 8 / 3 / 8 / 6;
			padding: 0px 5px;
		}
		.detalle4 img {
			width: auto;
			height: auto;
		}
		/*sobre hotel*/
		.item5 {
			grid-area: 9 / 1 / 9 / 2;
			padding: 25px;
		}
		.detalle5 {
			grid-area: 9 / 2 / 9 / 5;
			padding: 25px;
		}
		.items5bis {
			grid-area: 9 / 5 / 9 / 6;
			padding: 50px;
		}
		.item5bis img{
			width: 5%;
			height: auto;
		}
		.item6 {
			grid-area: 10 / 1 / 10 / 6;
			padding: 0px 5px;
		}
		.item6 h3 {
			font-size: 20px;
		}


		.item1 {
			grid-area: 5 / 1 / 5 / 4;
		}
		
		.detalle1 {
			grid-area: 6 / 1 / 6 / 4;
		}
		
		/*estilo de las imagenes*/
		.detalle1 img {
			padding: 0.1% 0.1%;
			width: auto;
			/*ajusta el ancho de la imagen*/
			height: 18vw;
			/*ajusta el alto de la imagen*/
		}
		
		/*resta*/
		.item2 {
			grid-area: 7 / 1 / 7 / 3;
		}
		
		.detalle2 {
			grid-area: 7 / 3 / 7 / 4;
		}
		
		/*spa*/
		.item3 {
			grid-area: 8 / 1 / 8 / 2;
		}
		
		.detalle3 {
			grid-area: 8 / 2 / 8 / 4;
		}
		
		/*saloón*/
		.item4 {
			grid-area: 9 / 1 / 9 / 2;
		}
		
		.detalle4 {
			grid-area: 9 / 2 / 9 / 4;
		}
		
		/*compromiso de la empresa*/
		.item5 {
			/*grid-area: 10 / 1 / 15 / 2;*/
			grid-area: 10 / 1 / 10 / 1;
		}
		
		.items5bis {
			/*grid-area: 10 / 3 / 15 / 4;*/
			grid-area: 10 / 3 / 10 / 3;
		}
		
		.detalle5 {
			grid-area: 10 / 2 / 10 / 3;
		}
		
		/*contacto*/
		.item6 {
			grid-area: 11 / 1 / 11 / 4;
		}








/*Estilo de la segunda sección*/
.encabezado1 {
	grid-area: 4 / 1 / 4 / 3;
	text-align: center;
	font-size: 1.5em;
	padding: 25px;
	/*alejar texto principal de los bordes*/
	overflow: hidden;
	/*para esconder el texto que se desborda*/
}






.encabezado1 {
	grid-area: 4 / 1 / 4 / 3;
}


.nav {
	grid-area: 2 / 1 / 2 / 6;
	background-color: #304562;
	font-size: 25px;
	align-self: center;
	padding: 20px;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	position: relative;
}
/*---para cambiar el texto cuando paso con el mausse*/
.nav a:hover {
	background-color: #5695CE;
	color: #F7ECCF;
	animation: 0.5s infinite boton-menu;
	/*agrego boton para cambiar el estilo del menú*/
}

/*.encabezado2 {
	grid-area: 4 / 3 / 4 / 6;
	}
/*agregue la ubicación del mapa en encabezado2*/


.footer1 {
	grid-area: 12 / 1 / 12 / 4;
}
.nav {
	grid-area: 2 / 1 / 2 / 4;
}
/*estilo de footer*/
.footer1 {
	grid-area: 11 / 1 / 11 / 6;
	text-align: center;
	background-color: #304562;
	padding: 25px 5px;
	color: #F7ECCF;
}





.logo {
	grid-area: 1 / 1 / 1 / 2;
	/* background-color: red; */
	align-self: center;
	margin: 5%;
	width: 25%;
}

.encabezado {
	grid-area: 1 / 2 / 1 / 3;
	/* background-color: blue; */
	align-self: center;
}

.login {
	grid-area: 1 / 3 / 1 / 4;
	/* background-color: green; */
	align-self: center;
	color: #304562;
	font-size: 25px;
	text-decoration: none;
}
